<html>
<head>
  <title>Brain 2 Speech</title>
  <meta charset="utf-8">
  <script src="../static/js/jquery-3.1.1.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script><!-- Custom JS -->
  <script src="../static/js/custom.js"></script>
  <link href="../static/css/bootstrap.min.css" rel="stylesheet"></link>
  <link href="../static/css/custom.css" rel="stylesheet"></link>
</head>
<body>
<div class="container">
<div class="text-center">
  <h1>Welcome to Brain2Speech</h1>
  <h4>Allowing paralyzed individuals to speak with a Muse headband.</h4>
</div>
<div class="col-sm-8 col-sm-offset-2">
<table class="table table-bordered text-center">

  <tbody>
    <tr>
      <td class="hash">#</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <td>1</td>
      <td class="col1 row1">A</td>
      <td class="col2 row1">B</td>
      <td class="col3 row1">C</td>
      <td class="col4 row1">D</td>
      <td class="col5 row1">E</td>
      <td class="col6 row1">F</td>
    </tr>
    <tr>
      <td>2</td>
      <td class="col1 row2">G</td>
      <td class="col2 row2">H</td>
      <td class="col3 row2">I</td>
      <td class="col4 row2">J</td>
      <td class="col5 row2">K</td>
      <td class="col6 row2">L</td>
    </tr>
    <tr>
      <td>3</td>
      <td class="col1 row3">M</td>
      <td class="col2 row3">N</td>
      <td class="col3 row3">O</td>
      <td class="col4 row3">P</td>
      <td class="col5 row3">Q</td>
      <td class="col6 row3">R</td>
    </tr>
    <tr>
      <td>4</td>
      <td class="col1 row4">S</td>
      <td class="col2 row4">T</td>
      <td class="col3 row4">U</td>
      <td class="col4 row4">V</td>
      <td class="col5 row4">W</td>
      <td class="col6 row4">X</td>
    </tr>
    <tr>
      <td>5</td>
      <td class="col1 row5">Y</td>
      <td class="col2 row5">Z</td>
      <td class="col3 row5">_</td>
      <td class="col4 row5">_</td>
      <td class="col5 row5">_</td>
      <td class="col6 row5">END</td>
    </tr>

  </tbody>
</table>

<h1 class="output"></h1>
<div class="button-holder"</div>
<button id="clear" type="button" class="btn btn-info align-center" onclick="location.href = '/clear'">
  <h3>CLEAR</h3>
</button>
</div>

</div>



</div>




</body>
</html>
